* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --orange: #ff5821;
  --light-orange: #fe764983;
  --lighter-orange: #ffe2d9;
  --container-width: 1140px;
  --off-white: #fff9f7;
}

body {
  position: relative;
}

#header {
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-menu-button {
  display: none !important;
}

a {
  text-decoration: none;
  color: #635551;
}

#header .container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  .close-button {
    display: none;
  }
}

.container .navbar a:hover {
  color: var(--orange);
}

section {
  overflow: hidden;
  position: relative;
}

#hero {
  width: 100%;
  height: 65vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets1/assets/media/hero-bg.jpg") center center;
  background-size: cover;
  background-attachment: fixed;
}

#hero .hero-container {
  width: var(--container-width);
  margin: 0;
  display: flex;
  flex-direction: column;
}

#hero .hero-container h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 12px;
}

#hero .hero-container h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

#hero .hero-container .get-started {
  width: 100%;
  height: 52px;
}

#hero .hero-container .get-started .get-started-inner {
  height: 100%;
  display: flex;
  align-items: center;
}

#hero .hero-container .get-started .icon {
  background: var(--orange);
  border-radius: 50%;
  color: white;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

#hero .hero-container .get-started .get-started-inner .label {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  margin-left: -10px;
  padding: 8px 26px;
  color: #fff;
  background: #584b48;
  border-radius: 0 50px 50px 0;
  z-index: 4;
}

#hero .hero-container .get-started .get-started-inner .label a {
  color: white;
}

#hero .hero-container .get-started .get-started-inner .label:hover {
  background: var(--orange);
}

#main {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 50vh;
}

#section-1 {
  padding-bottom: 50px;
}

#section-1 .container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#section-1 .row {
  z-index: 6;
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

#section-1 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: var(--orange);
  color: #fff;
  border-radius: 5px;
  width: 450px;
  height: fit-content;
}

#section-1 .content h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

#section-1 .content p {
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 25px;
  font-weight: 600;
}

#section-1 .content a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1.5rem;
  margin-bottom: 30px;

  &:hover {
    background: rgba(255, 255, 255, 1);
    transition: all 0.5s ease;
    color: var(--orange);
  }
}

#section-1 .cards {
  display: flex;
  gap: 20px;
  align-items: center;
}

#section-1 .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 8px;
  padding: 30px;
  width: 238px;
  height: 255px;
  gap: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  i {
    color: var(--orange);
    font-size: 2rem;
  }

  .card-title {
    text-align: center;
  }

  .card-content {
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 0.9rem;
    line-height: 20px;
  }
}

#about {
  width: 100%;
  height: auto;
  display: flex;
  background: var(--off-white);
  justify-content: center;

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: var(--container-width);
    height: 100%;
    margin: 50px;
    .left {
      background-image: url("./assets1/assets/media/about-img.jpg");
      background-repeat: no-repeat;
      width: 45%;
      height: 700px;
    }

    .right {
      width: 55%;
      height: 100%;

      .right-container {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 95%;
        gap: 50px;
        justify-content: center;

        #about-us {
          color: rgb(67, 67, 67);
          font-size: 1rem;
        }
        #about-us-title {
          color: black;
          font-size: 1.5rem;
          font-weight: bold;
        }

        #about-us-content {
          line-height: 1.5rem;
        }

        .about-items {
          display: flex;
          flex-direction: column;
          gap: 50px;
          .item {
            display: flex;
            gap: 20px;
            .item-icon {
              border-radius: 50%;
              border: 1.5px solid var(--light-orange);
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--orange);
              width: 64px;
              height: 64px;
              font-size: 30px;
              font-weight: bold;
            }

            .item-content {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 78%;

            }

            .item-content-title {
              font-size: 1.2rem;
              font-weight: bold;
            }

            .item-content-body {
              font-size: 0.9rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }
  }
}

#clients {
  width: 100%;
  padding: 60px 0;
  background: white;
  .container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: var(--container-width);
    height: 100%;

    .slider {
      img {
        filter: grayscale(100%);
        opacity: 0.5;
        height: 40px;
        width: max-content;
        margin-right: 70px;

        &:hover {
          filter: none;
          opacity: 1;
        }
      }
    }
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .controls {
    text-align: center;
    margin-top: 30px;
  }

  .controls .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--orange);
  }

  .controls .dot.active {
    background-color: var(--orange);
  }
}

#services {
  background: var(--off-white);
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;

    .service-title {
      font-size: 2rem;
      color: #635551;
    }
    .service-body {
      text-align: center;
    }

    .service-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      .service-item {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        position: relative;
        background: white;
        margin-top: 30px;
        align-items: center;

        .service-icon {
          border-radius: 50%;
          border: 1.5px solid var(--light-orange);
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--orange);
          color: white;
          width: 64px;
          height: 64px;
          font-size: 30px;
          font-weight: bold;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s all ease-out;

          &:hover {
            background: white;
            color: var(--orange);
            width: 80px;
            height: 80px;
            font-size: 40px;
          }
        }
        .title {
          font-weight: bold;
          font-size: 1.2rem;
          margin-top: 20px;
        }

        .content {
          line-height: 25px;
          text-align: center;
          font-size: 0.9rem;
        }
      }
    }
  }
}

#values {
  .container {
    width: var(--container-width);
    height: fit-content;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 50px;

    .value-1 {
      background-image: url("./assets1/assets/media/values-1.jpg");
    }
    .value-2 {
      background-image: url("./assets1/assets/media/values-2.jpg");
    }
    .value-3 {
      background-image: url("./assets1/assets/media/values-3.jpg");
    }
    .value-4 {
      background-image: url("./assets1/assets/media/values-4.jpg");
    }

    .value {
      border-radius: 10px;
      background-size: cover;
      height: 100%;
      display: flex;
      padding: 160px 20px 20px 20px;

      .message {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.8);
        gap: 20px;
        padding: 20px;

        .value-title {
          font-weight: bold;
          font-size: 1.5rem;
          color: rgb(70, 70, 70);
          cursor: pointer;
        }
        .value-body {
          font-size: 0.9rem;
        }

        a {
          font-size: 0.7rem;
          align-self: flex-start;
        }

        &:hover {
          background: var(--orange);
          color: white;

          .value-title,
          a {
            color: white;
            transition: all ease 0.5s;
          }

          transition: all ease 0.5s;
        }
      }
    }
  }
}

#testimonials {
  width: 100%;
  height: 50vh;
  margin: 0 0 60px 0;

  .container {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./assets1/assets/media/testimonials-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .testimonial-slider {
      .slide {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-direction: column;

        color: white;

        .profile {
          width: 80px;
          height: 80px;
          background-size: cover;
          border-radius: 50%;
          border: 8px solid rgba(0, 0, 0, 0.283);
        }
        .name {
          font-weight: bold;
        }
        .ceo {
          background: url("./assets1/assets/media/testimonials/testimonials-1.jpg");
        }
      }
    }

    .testimonial-slider-controls {
      text-align: center;
      margin-top: 30px;
    }

    .testimonial-slider-controls .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 50%;
      cursor: pointer;
      background: gray;
    }

    .dot.testimonial-active {
      background: var(--orange);
    }
  }
}

#portfolio {
  background: white;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  .container {
    width: var(--container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #635551;
    }

    .info {
      text-align: center;
      line-height: 25px;
    }

    .options {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      .option {
        color: rgb(57, 57, 57);
        padding: 10px 20px;
        border-radius: 2rem;
        font-weight: bold;

        &:hover {
          background: var(--lighter-orange);
          color: var(--orange);
        }
      }

      .option-active {
        background: var(--lighter-orange);
        color: var(--orange);
      }
    }

    .portfolio-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#teams {
  background: var(--off-white);
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    width: var(--container-width);
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;

    .title {
      font-weight: bold;
      font-size: 2rem;
      color: #635551;
    }

    .info {
      text-align: center;
      line-height: 25px;
    }

    .member-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
    }
    .member-cards .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 8px;
      overflow: hidden;
      padding-bottom: 20px;

      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      img {
        width: 100%;
        margin-bottom: 10px;
      }
      p {
        text-align: center;
      }

      .name {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .role {
        color: rgb(69, 69, 69);
        font-size: 0.8rem;
      }
    }
  }
}

#pricing {
  margin-top: 60px;
  margin-bottom: 60px;
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #635551;
    }

    .info {
      text-align: center;
      line-height: 25px;
    }

    .pricing-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      width: 100%;

      .card {
        background: #f8f8f8;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 0.25fr;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        .heading {
          padding: 20px 0;
        }

        .tag {
          width: 200px;
          position: absolute;
          top: 18px;
          right: -68px;
          transform: rotate(45deg);
          z-index: 1;
          font-size: 14px;
          padding: 1px 0 3px 0;
          background: #ff5821;
          color: #fff;
          text-align: center;
        }

        .business {
          background: var(--orange);
          color: white;
          width: 100%;

          text-align: center;
        }

        .body {
          background: white;
          width: 99%;
          padding-top: 20px;
          p {
            text-align: center;
            padding: 0 0 16px 0;
            font-size: 0.8rem;
            sup {
              font-size: 1rem;
            }
          }

          .price {
            font-size: 2.5rem;
            color: var(--orange);
            font-weight: bold;
            span {
              font-size: 1rem;
              color: #584b48;
              font-weight: lighter;
            }
          }
        }

        .buy-now {
          padding: 20px 0;

          button {
            padding: 10px 30px;
            background: var(--orange);
            color: white;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            font-size: 1rem;

            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    .card:nth-child(1) p:nth-last-child(1),
    .card:nth-child(1) p:nth-last-child(2),
    .card:nth-child(2) p:nth-last-child(1) {
      color: gray;
      text-decoration: line-through;
    }
  }
}

#faq {
  padding: 60px 0;
  background: var(--off-white);
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: var(--container-width);

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #635551;
    }

    .info {
      text-align: center;
      line-height: 25px;
    }

    .questions {
      display: flex;
      gap: 30px;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .question-item {
        display: flex;
        align-items: center;
        padding: 30px 20px;
        border-radius: 5px;
        background: white;
        font-weight: bold;
        width: 80%;

        i {
          color: var(--orange);
          font-size: 20px;
          font-weight: bold;
          margin-right: 20px;
        }

        .toggle-ans {
          margin: 0 0 0 auto;
          color: black;
        }

        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

#contact {
  padding: 60px 0;
  background: var(--off-white);
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: var(--container-width);

    .title {
      font-size: 2rem;
      font-weight: bold;
      color: #635551;
    }

    .info {
      text-align: center;
      line-height: 25px;
    }

    .contact-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      width: 80%;
      .card {
        padding: 30px;
        border-radius: 5px;
        box-shadow: 10px 13px 45px rgba(0, 0, 0, 0.1);
        .card-icon{
          border: 1px dotted var(--orange);
          border-radius: 50%;
          padding: 10px;
          float: left;
          width: 64px;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        i {
          color: var(--orange);
          font-size: 32px;
        }

        h3 {
          color: rgb(35, 35, 35);
        }
        h3,
        p {
          margin-left: 80px;
          padding-bottom: 10px;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }

    .contact-form {
      width: 80%;
      .form {
        display: flex;
        flex-direction: column;
        box-shadow: 10px 13px 45px rgba(0, 0, 0, 0.1);
        gap: 20px;

        padding: 20px;

        input,
        textarea {
          padding: 15px;
          background: transparent;
          border: 1px solid rgb(211, 211, 211);
          width: 100%;
        }

        textarea{
          resize: vertical;
        }

        .row {
          display: flex;
          gap: 20px;
          justify-content: space-between;
        }

        .button {
          width: 150px;
          padding: 15px 20px;
          align-self: center;
          background: var(--orange);
          color: white;
          border: none;
          font-size: 1rem;
        }
      }
    }
  }
}

#footer {
  padding: 100px 0 0 0;
  background: var(--off-white);
  align-items: center;
  display: flex;
  flex-direction: column;

  .container {
    width: var(--container-width);
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 1fr;

    .item {
      display: flex;
      gap: 15px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      h3 {
        font-size: 2rem;
        font-weight: 500;
      }
      p {
        color: rgb(71, 71, 71);
        font-size: 0.9rem;
        line-height: 25px;
        span {
          font-weight: bold;
        }
      }

      .links::before {
        content: ">";
        color: var(--orange);

        margin-right: 10px;
      }

      .contact {
        margin-top: 10px;
        p {
          margin-bottom: 10px;
        }
      }

      .newsletter-row {
        width: 100%;
        position: relative;
        input {
          padding: 10px 15px;
          border: 0.4px solid var(--light-orange);
          border-radius: 2rem;
          outline: none;
          width: 100%;
        }

        .button {

          padding: 12px 20px;
          border-radius: 2rem;
          border: none;
          background: var(--orange);
          color: white;
          position: absolute;
          right: 0px;
          font-weight: 600;
        }
      }
    }
  }
  .social-container {
    width: 100vw;
    background: white;
    margin-top: 60px;
    display: flex;
    justify-content: center;

    .socials {
      background: white;
      display: flex;
      padding: 50px 0;
      justify-content: space-between;
      align-items: center;
      width: var(--container-width);

      .copyright {
        color: rgb(72, 72, 72);
        font-size: 14px;
      }

      .social-link {
        display: flex;
        gap: 10px;

        .icon {
          color: white;
          font-size: 16px;
          border-radius: 50%;
          padding: 10px;
          background: var(--orange);

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1178px) {
  .container {
    width: 80vw;
  }

  #hero .hero-container {
    width: 80vw;
  }

  .section-1 .content {
    height: 500px;
  }

  .about-container {
    width: 80vw;
  }

  .cards {
    flex-direction: column;
  }
  #section-1 .container {
    width: 80vw;
  }
  #section-1 .cards .card {
    width: 100%;
  }

  #clients .container {
    width: 80vw;
  }

  #services .container {
    height: 120vh;
  }
  #services .service-items {
    grid-template-columns: 1fr 1fr !important;
  }

  #values .container {
    width: 80vw;
  }

  #values {
    .container {
      .value {
        .message {
          width: 100%;
        }
      }
    }
  }

  #testimonials {
    .slide {
      width: 80vw;
      p {
        text-align: center;
      }
    }
  }

  #portfolio {
    .container {
      width: 80vw;
    }
    .container .portfolio-items {
      grid-template-columns: 1fr 1fr;
    }
  }

  #teams {
    .container {
      width: 80vw;

      .member-cards {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  #pricing {
    .container {
      .pricing-cards {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  #faq {
    .container {
      width: 80vw;
      .question-item {
        width: 100% !important;
      }
    }
  }

  #contact {
    .container {
      width: 80vw;
      .contact-cards {
        width: 100%;
        grid-template-columns: 100%;
      }

      .contact-form {
        width: 100%;
      }
    }
  }

  #footer {
    .container {
      width: 80vw;
      grid-template-columns: 0.5fr 0.4fr 0.5fr 1fr;
    }

    .social-container {
      .socials {
        flex-direction: column;
        align-items: center;

        .copyright {
          p {
            text-align: center;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}



/* Mobile */

@media only screen and (max-width: 998px) {
  

  #hero .hero-container h1 {
    font-size: 2rem;
  }

  #hero .hero-container h2 {
    font-size: 1rem;
  }

  #section-1 .row {
    flex-direction: column;
  }

  #section-1 .content {
    width: 100%;
  }


  #header .container .navbar {
    flex-direction: column;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    gap: 30px;
    height: 100%;
    padding: 100px;
    transform: translateX(100%);

  }

  #header .container .active{
    transform: translateX(0);
  }

  #header .container .navbar .close-button {
    position: absolute;
    width: 100%;
    cursor: pointer;
    display: flex;
    top: 25px;
    justify-content: flex-end;
    height: 30px;
    i {
      margin-right: 45px;
      font-size: 25px;
      
    }
  }

  .toggle-menu-button {
    display: block !important;
    cursor: pointer;
  }

  #about {
    justify-content: center;
    align-items: center;
  }
  .about-container {
    flex-direction: column;
    justify-content: center;

    .left {
      width: 100% !important;
      background-size: cover;
    }

    .right {
      width: 100% !important;
      display: flex;
      justify-content: center;

      .item-icon {
        
      }
    }
  }

  #services {
    align-items: center;
    justify-content: center;

    .container {
      margin-top: 50px;
      margin-bottom: 50px;
      height: 100%;
      gap: 50px;
      .service-items {
        grid-template-columns: 100% !important;
      }
    }
  }

  #values {
    .container {
      grid-template-columns: 100%;
    }
  }

  #portfolio {
    .container {
      width: 80vw;
    }
    .container .portfolio-items {
      grid-template-columns: 100%;
    }
  }

  #teams {
    .container .member-cards {
      grid-template-columns: 100%;
    }
  }

  #pricing {
    .container {
      .pricing-cards {
        grid-template-columns: 100%;
      }
    }
  }

  #footer {
    .container {
      width: 80vw;
      grid-template-columns: 100%;
      .item {
        margin-bottom: 30px;
      }
      .join-newsletter input {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 120px);
      }

    }
  }
}
